accelerate==1.10.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiolimiter==1.2.1
aiosignal==1.4.0
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.10.0
asttokens==3.0.1
attrs==25.3.0
blinker==1.9.0
Brotli==1.1.0
cachetools==5.5.2
certifi
charset-normalizer
click
colorama
decorator
python-dotenv
executing
fastapi==0.116.1
ffmpeg-python
ffmpy
filelock
frozenlist
fsspec
future
gitdb
GitPython
gradio==5.44.0
gradio_client
groovy==0.1.2
h11
httpcore
httpx
huggingface_hub
idna
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mpmath
multidict
narwhals
networkx
numpy==2.3.2
orjson
packaging
pandas==2.3.2
parso
pillow
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pyarrow
pydantic==2.11.7
pydantic_core
pydeck
pydub
Pygments
pypdf
python-dateutil
python-multipart
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safehttpx
safetensors
semantic-version
shellingham
six
smmap
stack-data
starlette==0.47.3
streamlit==1.49.1
sympy
tenacity
tokenizers==0.22.0
toml
tomlkit
torch==2.8.0
tornado
tqdm
traitlets
transformers==4.56.2
typer
typing-inspection
typing_extensions
tzdata
urllib3
uuid_utils
uvicorn==0.35.0
voyageai
watchdog
wcwidth
xxhash
yarl
zstandard